body,section,div,ul,p,h1,h2,h3,h4,h5,h6,dd,dl {
  padding: 0px;
  margin: 0px;
  font-family: "微软雅黑", "Heiti TC", "MicrosoftYaHei";
}
section,div,img,li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
}
.clear:after {
  display: block;
  height: 0;
  visibility: hidden;
  content: '';
  clear: both;
  zoom: 1;
}
/*reset完成*/
body{
  background: #eff1f0;
}
img{
  width:100%;
}
.main{
  width:1000px;
  margin:0 auto;
}
.header h1{
      line-height: 50px;
    font-size: 50px;
    color: #3a3e44;
}
.header{
  width:100%;
  height:130px;
  background:#eff1f0;
  color:#fff;
  position: relative;
      padding: 0 50px;
}
.header .bg1{
  width:64px;
  height:64px;
  display: block;

}
.header .bg1 img{
  width:100%;
}
.header .portrait{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    top: 20px;
    left: 270px;
    overflow: hidden;
    z-index: 0;
}
.header .portrait img{
  width:100%;
}
.header .zone {
  position: absolute;
    right: 50px;
    top: 15px;
}
    
.header .zone span{
  width:25px;
  height: 25px;
  display: inline-block;
  border-radius: 12.5px;
  overflow: hidden;
  margin-right: 10px;
}
.header .zone span img{
  width:100%;
}



.part-one{  
  width:100%;
  height:340px;
  padding: 24px 50px;
  position: relative;
  background: #2a3344;;
  margin-top: 5px;
}
.part-one .container{
  width: 100%;
    height: 350px;
    font-size: 0;
    position: absolute;
    top: -5px;
    z-index: -5;
}
.part-one .container>div{
   height:100%;
   display: inline-block;
}
.part-one .container .left{
  width:720px;
  margin-right: 5px;
  background: #ca5f3f;
}
.part-one .container .right{
  width:175px;
  background: #2ab3bd;
}
.part-one h1{
  font-size: 100px;
}
.part-one p{
  font-size: 100px;
    color: red;
}
.navi ul{
  position: absolute;
  right: 50px;
  color: #000;
  top: 80px;
}
.navi ul li{
  display: inline-block;
}
.navi ul li a:hover{
  color:blue;
}
/*.navi ul li a:visited{
  color:#000;
}*/
.navi ul li a:link{
  color:red;
}
.navi ul li a:active{
  color:yellow;
}
.part-one .review{
  /*background: red;*/
  height: 100%;
  font-size: 0;
}
.part-one .review>div{
  display: inline-block;
  width:20%;
  background: orange;
  height: 100%
}
.part-one .review>div:nth-child(1){
  width:365px;
  overflow: hidden;
  position: relative;
}
.part-one .review>div:nth-child(2){
  width:315px;
  background: yellow;
  position: relative;
  overflow: hidden;
}
.part-one .review>div:nth-child(3){
  width:220px;
}
.part-one .review>div:nth-child(3) img{
  width:100%;
}
.part-one .review>div:nth-child(2) img{  
    width:100%;
}
.part-one .review>div:nth-child(1) img{  
    height:100%;
}
.imgBox{
  margin: auto ;
  position: absolute ;
  top: 0 ;
  left: 0 ;
  right: 0 ;
  bottom: 0 ;
}

.part-three{
  height:350px;
  width:100%;
  padding:45px 50px;

  /*background: orange;*/
}
.part-three .content{
  /*background: blue;*/
  width:100%;
  height:100%;
  font-size: 0;
}
.part-three .content .list{
  display: inline-block;
  width:280px;
  height:100%;
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
  vertical-align: top;
}
.part-three .content div:nth-child(1){
  margin-right: 30px;
}
.part-three .content div:nth-child(2){
  margin-right: 30px;
}
.part-three>.content>.list>div{
  width:100%;
  height: 205px;
  background: red;
  overflow: hidden;
}
.part-three>.content>.list>p{
    width: 60px;
    height: 15px;
    display: block;
    background: #3e4c64;
    font-size: 12px;
    LINE-HEIGHT: 15PX;
    margin-top: 13px;
    color: #fff;
}
