body,section,div,ul,p,h1,h2,h3,h4,h5,h6,dd,dl {
  padding: 0px;
  margin: 0px;
  font-family: "微软雅黑", "Heiti TC", "MicrosoftYaHei";
}
section,div,img,li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
}
.clear:after {
  display: block;
  height: 0;
  visibility: hidden;
  content: '';
  clear: both;
  zoom: 1;
}
/*reset完成*/
.btn{
    width: 60px;
  height: 15px;
  display: block;
  background: #3e4c64;
  font-size: 12px;
  LINE-HEIGHT: 15PX;
  margin-top: 13px;
  color: #fff;
}
body{
  background: #eff1f0;
}
img{
  width:100%;
}
.main{
  width:1000px;
  margin:0 auto;
}
.header h1{
      line-height: 50px;
    font-size: 50px;
    color: green;
}
.header{
  width:100%;
  height:130px;
  background:#eff1f0;
  color:#fff;
  position: relative;
  padding: 0 45px;
}
.header .bg1{
  width:64px;
  height:64px;
  display: block;

}
.header .bg1 img{
  width:100%;
}
.header .portrait{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    top: 20px;
    left: 100px;
    overflow: hidden;
    z-index: 0;
}
.header .portrait img{
  width:100%;
}
.header .zone {
  position: absolute;
    right: 50px;
    top: 15px;
}
    
.header .zone span{
  width:25px;
  height: 25px;
  display: inline-block;
  border-radius: 12.5px;
  overflow: hidden;
  margin-right: 10px;
}
.header .zone span img{
  width:100%;
}



.part-one{  
  width:100%;
  height:340px;
  padding: 24px 45px;
  position: relative;
  background: #2a3344;;
  margin-top: 5px;
}
.part-one .container{
  width: 100%;
    height: 350px;
    font-size: 0;
    position: absolute;
    top: -5px;
    z-index: -5;
}
.part-one .container>div{
   height:100%;
   display: inline-block;
}
.part-one .container .left{
  width:720px;
  margin-right: 5px;
  background: #ca5f3f;
}
.part-one .container .right{
  width:175px;
  background: #2ab3bd;
}
.part-one h1{
  font-size: 100px;
}
.part-one p{
  font-size: 100px;
    color: red;
}
.navi ul{
  position: absolute;
  right: 50px;
  color: #000;
  top: 80px;
}
.navi ul li{
  display: inline-block;
}
.navi ul li a:hover{
  color:blue;
}
/*.navi ul li a:visited{
  color:#000;
}*/
.navi ul li a:link{
  color:red;
}
.navi ul li a:active{
  color:yellow;
}
.part-one .review{
  /*background: red;*/
  height: 100%;
  font-size: 0;
}
.part-one .review>div{
  display: inline-block;
  width:20%;
  background: orange;
  height: 100%
}
.part-one .review>div:nth-child(1){
  width:365px;
  overflow: hidden;
  position: relative;
}
.part-one .review>div:nth-child(2){
  width:315px;
  background: yellow;
  position: relative;
  overflow: hidden;
}
.part-one .review>div:nth-child(3){
  width:220px;
}
.part-one .review>div:nth-child(3) img{
  width:100%;
}
.part-one .review>div:nth-child(2) img{  
    width:100%;
}
.part-one .review>div:nth-child(1) img{  
    height:100%;
}
.imgBox{
  margin: auto ;
  position: absolute ;
  top: 0 ;
  left: 0 ;
  right: 0 ;
  bottom: 0 ;
}
/* 部分三 */
.part-three{
  height:350px;
  width:100%;
  padding:45px;

  /*background: orange;*/
}
.part-three .content{
  /*background: blue;*/
  width:100%;
  height:100%;
  font-size: 0;
}
.part-three .content .list{
  display: inline-block;
  width:280px;
  height:100%;
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
  vertical-align: top;
}
.part-three .content div:nth-child(1){
  margin-right: 30px;
}
.part-three .content div:nth-child(2){
  margin-right: 30px;
}
.part-three>.content>.list>div{
  width:100%;
  height: 205px;
  background: red;
  overflow: hidden;
}
.part-three>.content>.list>p{

}
/*部分四*/
.part-four{
  width:100%;
  height:200px;
  /*background: red;*/
  padding: 0 27px;
}
.part-four .content{
  width:100%;
  height:100%;
  /*background: orange;*/
  font-size: 0;
  vertical-align: top;
}
.part-four .content div{
  width:50%;
  display: inline-block;
  height: 100%;
  padding: 0 18px;
  vertical-align: top;
}
.part-four .content div h1{
  border-bottom: 1px solid red;
  height: 40px;
  margin-top: 24px;
  font-size: 30px;
  line-height: 40px;
}
.part-four .content div p{
    font-size: 20px;
    line-height: 24px;
    margin-top: 13px;
}
.part-four .content div p.btn{
  line-height: 15px;
}
.part-four .content div.left{
  /*background: blue;*/
  font-size: 24px; 
}
/*部分5*/
.part-five{
  height:235px;
  width:100%;
  padding:0 30px;
  /*background: red;*/
}
.part-five .content{
  width:100%;
  height:70%;
  /*background: orange;*/
  font-size: 0;
}
.part-five .content>div{
  width:16.66%;
  height:100%;
  display: inline-block;
  /*background: blue;*/
  vertical-align: top;
  padding: 0 15px;
}
.part-five{
  line-height: 65px;
}
.part-five .content .box2{
  position:relative;
}
.part-five .content .box2 h1{
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 25px;
    line-height: 35px;
}
.part-five .content .box2 .imgBox{
      width: 100px;
    height: 100px;
    border-radius: 50px;
    overflow: hidden;
}

.part-six{  
  width:100%;
  height:300px;
  padding: 24px 45px;
  position: relative;
  background: #2a3344;;
  margin-top: 5px;
  font-size: 0;
}
.part-six .container{
  width: 100%;
    height: 310px;
    font-size: 0;
    position: absolute;
    top: -5px;
    z-index: -5;
}
.part-six .container>div{
   height:100%;
   display: inline-block;
}
.part-six .container .left{
  width:720px;
  margin-right: 5px;
  background: #ca5f3f;
}
.part-six .container .right{
  width:175px;
  background: #2ab3bd;
}
.part-six .box{
  width:100%;
  height:100%;

}
.part-six .box .display{
  width:25%;
  height:100%;
  /*background: orange;*/
  display: inline-block;
  vertical-align: top;

}
.part-six .box .display h1{
  font-size: 18px;
  height:35px;
  line-height: 35px;
  color:#fff;
}
.part-six .box .display:first-child ul{
  font-size: 16px;
}
.part-six .box .display:first-child ul li{
  list-style: none;
  padding: 12px 25px;
  line-height: 20px;
  border-bottom: 2px solid #252e3f;
  color:#fff;
  position: relative;
}
.part-six .box .display:first-child ul li i{
      width: 8px;
    height: 20px;
    display: inline-block;
    background: #1b5b60;
    position: absolute;
    left: 0;
}
.part-six .box .display:nth-child(2){
  padding-left: 35px;
}
.part-six .box .display:nth-child(2)>div{
  width:85px;
  height: 85px;
  display: inline-block;
  background: red;
}
.part-six .box .display:nth-child(2)>div:nth-child(4){
  /*margin-bottom: 15px;*/
  margin-right: 15px;
}
.part-six .box .display:nth-child(2)>div:nth-child(2){
  margin-bottom: 15px;
  margin-top: 15px;
}
.part-six .box .display:nth-child(2)>div:nth-child(3){
  margin-left: 15px;
  margin-bottom: 15px;
}
.part-six .box .display:nth-child(3) p{
  font-size: 18px;
    color: #fff;
}
.part-two h1{
      line-height: 20px;
    margin-top: 20px;
    color: #aaa;
} 
    .navi{
      float: right;
      position: relative;
      bottom: 45px;
      font-size: 28px;
      color: gray;
      margin-top:50px;
    }